@model Royaya.com.Models.Dream

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_empty.cshtml";
}
<meta charset="utf-8" />
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="~/MainPageStyle/css/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/MainPageStyle/css/fontawesome.css">
    <link rel="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        .bg-light {
            background-color: unset !important;
        }

        a {
            font-family: Droid Arabic Kufi !important;
        }
    </style>
</head>

<body>
    <img class="img img-fluid" src="~/MainPageStyle/img/others.svg" />
    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="width: fit-content;margin-top: -151px;">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Main", "Home")"><img src="~/MainPageStyle/img/home.svg"> </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("ContactUs", "Home")"><img src="~/MainPageStyle/img/callus.svg"></a>
            </li>
        </ul>
    </nav>
<br />

<div class="row">
    <div class="col-md-4"></div>
    @*<div class="col-md-4" style="align-content:center;text-align:center">
        <div style="background-color:dodgerblue;padding-left:25%;padding-right:25%;color:white;font-size:x-large;font-weight:bolder"> بيانات الطلب</div>
        <div> </div>
    </div>*@
    <div class="col-md-4"></div>
</div>
<br />
<br />

<div>

    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="card" style="direction:rtl;text-align:right;font-size:large;font-weight:bolder">
                <div class="row">
                    <div class="col-md-4">
                        <div class="card-body" style="text-align:center">
                            <h5 class="card-title">@ViewBag.Type</h5>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card-body">
                            <h5 class="card-title" style="text-align:center">
                                @if (Model.Status == "Done")
                            {
                                <p>تم الرد<i class="glyphicon-alert"></i>  </p>
                            }
                            else
                            {
                                <p>لم يتم الرد بعد</p>
                            }
                        </h5>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card-body" style="text-align:center">
                        <h5 class="card-title">التقييم @Model.UserRating</h5>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="col-md-1"></div>

</div>
</div>

<br />
<br />

<div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="card" style="direction:rtl;text-align:right;font-size:large;font-weight:bolder">
                <h5 class="card-header">@ViewBag.CreatorName</h5>
                <div class="card-body">
                    <h5 class="card-title">الرؤية رقم @Model.id</h5>
                    <p class="card-text">@Model.Description</p>
                    @*<a href="#" class="btn btn-primary">Go somewhere</a>*@
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>

    </div>

    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="card" style="direction:rtl;text-align:right">
                <h5 class="card-header">@ViewBag.InterpreterName &nbsp;&nbsp;&nbsp;&nbsp; @Model.ExplanationDate</h5>
                <div class="card-body" style="direction:rtl;text-align:right">
                    <h5 class="card-title">تفسير الرؤية</h5>
                    <p class="card-text">@Model.Explanation</p>
                    @*<a href="#" class="btn btn-primary">Go somewhere</a>*@
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>

    </div>
</body>
