@model Royaya.com.Models.Dream

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_PLayout.cshtml";
}

<h2>@Resources.Dream.Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>@Resources.Global.Dreams</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Status", new List<SelectListItem>
                                      { new SelectListItem { Text="Active", Value="Active"},
                                         new SelectListItem{Text="Done", Value="Done"}
                                        }, "Select Status")
                @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2">
                @Resources.Dream.interpretator 
            </div>
            @*@Html.LabelFor(model => model.interpretatorId, "interpretatorId", htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                @Html.DropDownList("interpretatorId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.interpretatorId, "", new { @class = "text-danger" })
                
            </div>
        </div>

        <div class="form-group">
            @*@Html.LabelFor(model => model.pathId, "pathId", htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="control-label col-md-2">
                @Resources.Dream.Cost
            </div>
            <div class="col-md-10">
                @Html.DropDownList("pathId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.pathId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Explanation, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Explanation, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Explanation, "", new { @class = "text-danger" })
            </div>
        </div>



        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="@Resources.Dream.Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink(Resources.Dream.BackToList, "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
