@model Royaya.com.ViewModels.InterpreterUserModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_PLayout.cshtml";
}

<h2>@Resources.Dream.Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Resources.Register.Name
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Resources.Register.Age
            <div class="col-md-10">
                @Html.EditorFor(model => model.Age, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Age, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Resources.Register.Status
            <div class="col-md-10">
                @Html.EditorFor(model => model.Status, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Resources.Register.Sex
            <div class="col-md-10">
                @Html.EditorFor(model => model.Sex, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Sex, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Resources.Register.Country
            <div class="col-md-10">
                @Html.EditorFor(model => model.Country, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Country, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Resources.Register.JobDescription
            <div class="col-md-10">
                @Html.EditorFor(model => model.JobDescription, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.JobDescription, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Resources.Register.JoiningDate
            <div class="col-md-10">
                @Html.EditorFor(model => model.JoiningDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.JoiningDate, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
           @Resources.Register.MartialStatus
            <div class="col-md-10">
                @Html.DropDownList("MartialStatus", new List<SelectListItem>
                                      { new SelectListItem { Text="Married", Value="Married"},
                                         new SelectListItem{Text="Single", Value="Single"},
                                         new SelectListItem{Text="Other", Value="Other"}
                                        }, "Select Status")
                @Html.ValidationMessageFor(model => model.MartialStatus, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Resources.Register.Type
            <div class="col-md-10">
                @Html.DropDownList("Type", new List<SelectListItem>
                                      { new SelectListItem { Text="Client", Value="Client"},
                                         new SelectListItem{Text="Interpreter", Value="Interpreter"},
                                         new SelectListItem{Text="Admin", Value="Admin"}
                                        }, "Select Type")
                @Html.ValidationMessageFor(model => model.MartialStatus, "", new { @class = "text-danger" })
            </div>
        </div>
        
        <div class="form-group">
            @Resources.Register.PersonalDescription
            <div class="col-md-10">
                @Html.EditorFor(model => model.PersonalDescription, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PersonalDescription, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Resources.Register.VerifiedInterpreter
            @Html.EditorFor(model => model.VerifiedInterpreter, new { htmlAttributes = new { @style = "size:small" } })
            @Html.ValidationMessageFor(model => model.VerifiedInterpreter, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Resources.Register.NumberOfDreamsInOneDay
            @Html.EditorFor(model => model.numbOfDreamsInOneDay, new { htmlAttributes = new { @style = "size:small" } })
            @Html.ValidationMessageFor(model => model.numbOfDreamsInOneDay, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="@Resources.Dream.Edit" class="btn btn-default" />
                @*@Html.ActionLink("Edit", "EditInterpreter", new { id = Model.Id }, new { @class = "btn btn-default" })*@
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink(@Resources.Dream.BackToList, "Interpreters")
</div>
