
@model IEnumerable<RoyayaControlPanel.com.ViewModels.InterpreterRatioViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_PLayout.cshtml";
    var Id = ViewBag.userId;
    var userType = ViewBag.Type;
}

<h2>@Resources.Global.RatioForEachPath</h2>
<br />
<div style="float:right;" class="col-md-12">
    <button style="float:right;" class="btn btn-primary" onclick="location.href='@Url.Action("InterpreterRatioCreate", "Account",new {id= ViewBag.userId})'">
        @Resources.Global.AddNewRatio
    </button>
</div>

<div class="container">
<div class="row">
    <div class="col-md-3">
        <ul class="nav flex-column nav-fill">

            <li id="PersonalInfo" class="nav-item nav-link active " style="border:solid;border-color:#071689;font-weight:600; font-size: larger">
                @Html.ActionLink(Resources.Global.PersonalInformation, "PersonalPage", new { id = Id })
            </li>
            <li id="SalaryInfo" class="nav-item nav-link active" style="border:solid;border-color:#071689;font-size: larger;color:black !important;font-weight:600;">
                @Html.ActionLink(Resources.Global.Dreams, "InterpreterDreams", new { id = Id })
            </li>
            @*<li id="EmployeeDocs" class="nav-item nav-link active" style="border:solid;border-color:#071689; font-size: larger;font-weight:600;">
                @Html.ActionLink(Resources.Global.Payments, "EmployeeDocs", "Support", new { id = Id }, null)
            </li>*@
            @if (userType == "Interpreter")
            {
            <li id="EmployeeRating" class="nav-item nav-link active" style="border:solid;border-color:#071689;font-weight:600; font-size: larger">
                @Html.ActionLink(Resources.Global.Ratings, "InterpreterRatings", new { id = Id }, null)
            </li>
            @*<li id="EmployeeRating" class="nav-item nav-link active" style="border:solid;border-color:#071689;font-weight:600; font-size: larger">
                @Html.ActionLink(Resources.Global.BalanceRatio, "InterpreterRatio", new { id = Id }, null)
            </li>*@
            }
        </ul>
    </div>
    <div class="col-md-9">
    <div class="table-responsive ">
        <table class="table table-striped table-bordered table-hover " id="myTable">
            <thead style="background-color:#6610f2;color:white;font-weight:bold;align-content:center">
                <tr>
                    <th>
                        @Resources.Register.UserName
                    </th>
                    <th>
                        @Resources.Dream.path
                    </th>
                    <th>
                        @Resources.Global.Ratio
                    </th>
  
                    <th>
                        @Resources.Dream.CreationDate
                    </th>

                    <th>
                        @Resources.Dream.Creator
                    </th>


                    @*<th></th>*@
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model)
            {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.interpretatorName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.pathCost)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Ratio)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CreationDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CreatorName)
                        </td>
                        <td>
                            @Html.ActionLink("Delete", "Delete","InterpreterRatios", new { id = item.id },null)
                        </td>
                        @*<td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                                @Html.ActionLink("Details", "Details", new { id = item.id }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.id })
                            </td>*@
                    </tr>
                }
            </tbody>
        </table>
    </div>
        </div>
    </div>
    </div>
