@model List<RoyayaControlPanel.com.Models.ApplicationUser>
@{
    ViewBag.Title = "Users";
    Layout = "~/Views/Shared/_PLayout.cshtml";
}
<div>
    <h2 style="color: #8b224e">@Resources.Global.Interpreters_List</h2>
    <br />

     <table id="myTable" class="table table-striped table-bordered table-hover">
        <thead style="background-color:#6610f2;color:white;font-weight:bold;align-content:center">
            <tr>
                <th>@Resources.Register.UserName</th>
                <th>@Resources.Register.Name</th>
                <th>@Resources.Register.Id</th>
                <th>@Resources.Register.Status</th>
                <th>@Resources.Register.Sex</th>
                <th>@Resources.Register.Age</th>
                <th>@Resources.Register.Country</th>
                <th>@Resources.Register.JoiningDate</th>
                <th>@Resources.Register.JobDescription</th>
                <th>@Resources.Register.MartialStatus</th>
                <th>@Resources.Register.NumberOfDreamsInOneDay</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                <tr>
                    <td>@Html.ActionLink(@user.UserName, "PersonalPage", new { id = @user.Id }, null)</td>
                    @*<td>
                        @Html.ActionLink("Personal Page",
                            "PersonalPage", "Employee",
                            new { @Employeeid = user.EmployeeId }, null)
                    </td>*@
                    <td>@user.Name</td>
                    <td>@user.Id</td>
                    <td>@user.Status</td>
                    <td>@user.Sex</td>
                    <td>@user.Age</td>
                    <td>@user.Country</td>
                    <td>@user.JoiningDate</td>
                    <td>@user.JobDescription</td>
                    <td>@user.MartialStatus</td>
                    <td>@user.numbOfDreamsInOneDay</td>
                    <td>@Html.ActionLink(@Resources.Dream.Edit, "EditInterpreter", new { id = user.Id })</td>
                </tr>
            }
        </tbody>
    </table>
    <br />


</div>