@model Royaya.com.Models.InterpreterRatio

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_PLayout.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>InterpreterRatio</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        

        <div class="form-group">
            @Resources.Global.Ratio
            <div class="col-md-10">
                @Html.EditorFor(model => model.ratio, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ratio, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Resources.Dream.path
            <div class="col-md-10">
                @Html.DropDownList("pathId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.pathId, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @Html.HiddenFor(model => model.interpretatorId, @Model.interpretatorId)
                <input type="submit" value="@Resources.Dream.Create" class="btn btn-default" />

            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink(Resources.Dream.BackToList, "Interpreters")
</div>
