@model IEnumerable<Royaya.com.Models.InterpreterRatio>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_PLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.interpretator.Sex)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.path.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ratio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreationDate)
        </th>


       
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.interpretator.Sex)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.path.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ratio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreationDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastModificationDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Creator)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Modifier)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AttachmentId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
